/* comments in css3*/
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

body{
    background: url("/Images/pexels-nikita-grishin-10147530.jpg");
    background-repeat: center center fixed;
    background-size:cover;   
}

h1{
    color: aquamarine;
    text-align: center;
    border: 2px solid red;
    font-family: 'Palette Mosaic', cursive;
    
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 125px
}