#h1{
    text-align:center;
    font-weight:bold;
    font-size:3rem;
    color:blue;
    
}


#main-box{
    position:relative;
    margin: 12.5%;
    width:75%;
    border:3px solid grey;
}

.div-box{
    position: relative;
    border:2px solid red;
    margin: 5px ;
    left: 5px;
    width: 40%;
    min-height: 150px;
}
.div-box:hover{
    transition: all 1s ease-in-out infinite;
    transform: rotate(30deg);
    background-color: aqua;
    border-radius: 50%;
}

.div-box:nth-child(2n){
    left: 53%;
}



